[submodule "CA1"]
	path = CA1
	url = https://github.com/mohammadsaadati80/Signal-and-Systems-CA1.git
[submodule "CA2"]
	path = CA2
	url = https://github.com/mohammadsaadati80/Fourier-Transform-and-its-Applications.git
